<svg width="100%" height="100%" class="zoomable-canvas" id="canvas">
  <defs>
    <marker
      class="edge-marker"
      id="end-arrow"
      viewBox="0 0 10 10"
      refX="60"
      refY="5"
      markerUnits="strokeWidth"
      markerWidth="8"
      markerHeight="6"
      orient="auto"
    >
      <path
        d="M 0 0 L 10 5 L 0 10 L 4 5 z"
        style="stroke-width: 1; stroke-dasharray: 1, 0;"
      ></path>
    </marker>
  </defs>
  <g class="zoom-content">
    <g class="nodes-chart-elements">
      <g class="elements-container">
        <g class="element" *ngFor="let element of elements" [id]="element.name">
          <g
            class="edge"
            *ngIf="element.elType === 'edge'"
            app-nodes-chart-edge
            [edge]="element"
          ></g>
          <g
            class="node"
            *ngIf="element.elType === 'node'"
            app-nodes-chart-node
            [node]="element"
            (onNodeClicked)="nodeSelected($event)"
          ></g>
          <rect
            transform="scale(1000000)"
            fill="#fafafc"
            x="-1"
            y="-1"
            width="2"
            height="2"
            opacity="0.9"
            *ngIf="element.elType === 'overlay'"
            (click)="restoreLayout()"
          />
        </g>
      </g>
    </g>
  </g>
</svg>
<app-details-card
  [isShow]="isShowDetail"
  [node]="currentNodeForDetail"
  [@slide]="slideState"
>
</app-details-card>
