<svg:g class="node-container">
  <svg:g class="node">
    <svg:g class="node-labels-container">
      <svg:text
        class="node-label"
        [attr.y]="20 + labelOffsetY"
        text-anchor="middle"
      >
        {{ node.label }}
      </svg:text>
      <!-- <text
        class="node-minor-label"
        [attr.y]="30 + labelOffsetY"
        textAnchor="middle"
      >
        {{ node.labelMinor }}
      </text> -->
    </svg:g>

    <svg:g
      (click)="onClick()"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      transform="scale(55)"
      class="shape-container"
    >
      <!-- <NodeShapeType
        id="{id}"
        highlighted="{highlighted}"
        color="{color}"
        metric="{metric}"
        contrastMode="{this.props.contrastMode}"
      /> -->
      <svg:g
        app-nodes-chart-shape
        [info]="shapeInfo"
        [node]="node"
        *ngIf="!shapeInfo.isStacked"
      ></svg:g>
      <svg:g
        app-nodes-chart-stackshape
        [info]="shapeInfo"
        [node]="node"
        *ngIf="shapeInfo.isStacked"
      ></svg:g>
    </svg:g>

    <!-- {showingNetworks &&
    <NodeNetworksOverlay networks="{networks}" stack="{stack}" />
    } -->
  </svg:g>
</svg:g>
