<ng-container *ngIf="info.type === 'circle'">
  <svg:circle
    r="1"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-border"
  />
  <svg:circle
    r="1"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-shadow"
  />
  <svg:circle r="1" transform="scale(0.48)" class="background" />
  <svg:circle r="1" transform="scale(0.49)" class="node-shadow" />
  <svg:circle
    r="1"
    transform="scale(0.5)"
    class="node-border"
    [ngStyle]="{ stroke: info.color }"
  />
  <svg:circle r="0.1" class="anchor" />
</ng-container>
<ng-container *ngIf="info.type === 'cloud'">
  <svg:path
    [attr.d]="cloudPath"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-border"
  />
  <svg:path
    [attr.d]="cloudPath"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-shadow"
  />
  <svg:path [attr.d]="cloudPath" transform="scale(0.48)" class="background" />
  <svg:path [attr.d]="cloudPath" transform="scale(0.49)" class="node-shadow" />
  <svg:path
    [attr.d]="cloudPath"
    transform="scale(0.5)"
    class="node-border"
    [ngStyle]="{ stroke: info.color }"
  />
  <svg:circle r="0.1" class="anchor" />
</ng-container>
<ng-container *ngIf="info.type === 'hexagon'">
  <svg:path
    [attr.d]="hexagonPath"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-border"
  />
  <svg:path
    [attr.d]="hexagonPath"
    *ngIf="node?.isHighlighted || node?.isSelected"
    transform="scale(0.5)"
    class="highlight-shadow"
  />
  <svg:path [attr.d]="hexagonPath" transform="scale(0.48)" class="background" />
  <svg:path
    [attr.d]="hexagonPath"
    transform="scale(0.49)"
    class="node-shadow"
  />
  <svg:path
    [attr.d]="hexagonPath"
    transform="scale(0.5)"
    class="node-border"
    [ngStyle]="{ stroke: info.color }"
  />
  <svg:circle r="0.1" class="anchor" />
</ng-container>
