<svg:g [attr.transform]="verticalTranslate(-2.5)">
  <svg:g [attr.transform]="verticalTranslate(1, true)">
    <ng-container *ngIf="info.type === 'circle'">
      <svg:circle
        r="1"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-border"
      />
      <svg:circle
        r="1"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-shadow"
      />
    </ng-container>
    <ng-container *ngIf="info.type === 'cloud'">
      <svg:path
        [attr.d]="cloudPath"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-border"
      />
      <svg:path
        [attr.d]="cloudPath"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-shadow"
      />
    </ng-container>
    <ng-container *ngIf="info.type === 'hexagon'">
      <svg:path
        [attr.d]="hexagonPath"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-border"
      />
      <svg:path
        [attr.d]="hexagonPath"
        *ngIf="node.isHighlighted || node.isSelected"
        transform="scale(0.5)"
        class="highlight-shadow"
      />
    </ng-container>
  </svg:g>
  <svg:g
    [attr.transform]="verticalTranslate(2)"
    app-nodes-chart-shape
    [info]="info"
    [node]="nodeCopy"
  ></svg:g>
  <svg:g
    [attr.transform]="verticalTranslate(1)"
    app-nodes-chart-shape
    [info]="info"
    [node]="nodeCopy"
  ></svg:g>
  <svg:g
    [attr.transform]="verticalTranslate(0)"
    app-nodes-chart-shape
    [info]="info"
    [node]="nodeCopy"
  ></svg:g>
</svg:g>
